<nav class="navbar navbar-default" style="margin-top: 10px;">
	<div class="container-fluid">
		<div class="navbar-header">
			<a class="navbar-brand" href="/">@Messages("menu.home")</a>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav">
				<li><a href="/books"> @Messages("menu.livros") </a></li>
				<li><a href="/emprestimos">@Messages("menu.emprestimos")</a></li>
			</ul>
			
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/about">@Messages("menu.sobre")</a></li>
				<li class="dropdown">
					<a href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
						@Messages("menu.usuario") <span class="caret"></span>
					</a>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#">Action</a></li>
						<li><a href="#">Another action</a></li>
						<li><a href="#">Something else here</a></li>
						<li class="divider"></li>
						<li><a href="#">Logout</a></li>
					</ul>
				</li>
			</ul>
		</div>
	</div>
</nav>